startup --expand_configs_in_place

common --noenable_bzlmod

common:ci --color=yes

build:ci --verbose_failures
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --genrule_strategy=standalone

test:ci --test_strategy=standalone
test:ci --test_output=errors

build --java_language_version="11"
build --java_runtime_version="remotejdk_11"
build --tool_java_language_version="11"
build --tool_java_runtime_version="remotejdk_11"
